name: Recovery Build(TWRP)

on:
  workflow_dispatch:
    inputs:
      MANIFEST_URL:
        description: 'MANIFEST_URL'
        required: true
        default: 'https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp'
      MANIFEST_BRANCH:
        description: 'MANIFEST_BRANCH'
        required: true
        default: 'twrp-12.1'
      DEVICE_TREE_URL:
        description: 'DEVICE_TREE_URL'
        required: true
        default: 'https://github.com/snowwolf725/device_oneplus_waffle-TWRP'
      DEVICE_TREE_BRANCH:
        description: 'DEVICE_TREE_BRANCH'
        required: true
        default: 'android-12.1'
      DEVICE_PATH:
        description: 'DEVICE_PATH'
        required: true
        default: 'device/oneplus/waffle'
      COMMON_TREE_URL:
        description: 'COMMON_TREE_URL'
        required: false
        default: ''
      COMMON_PATH:
        description: 'COMMON_PATH'
        required: false
        default: ''
      DEVICE_NAME:
        description: 'DEVICE_NAME'
        required: true
        default: 'waffle'
      MAKEFILE_NAME:
        description: 'MAKEFILE_NAME'
        required: true
        default: 'twrp_waffle'
      BUILD_TARGET:
        description: 'BUILD_TARGET'
        required: true
        default: 'recovery'

jobs:
  build:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: ubuntu-24.04
    env:
      TIMESTAMP: 20250725
    permissions:
      contents: write
    steps:
      - name: Display Run Parameters
        run: |
          echo "::group::User Environment Variables"
          echo "Manifest URL: ${{ github.event.inputs.MANIFEST_URL }}"
          echo "Manifest Branch: ${{ github.event.inputs.MANIFEST_BRANCH }}"
          echo "::endgroup::"

      - name: Check Out
        uses: actions/checkout@v4

      - name: Cleanup
        uses: rokibhasansagar/slimhub_actions@main

      - name: Prepare the environment
        run: |
          sudo apt update && sudo apt upgrade -y
          DEBIAN_FRONTEND=noninteractive sudo apt install -yq \
              linux-modules-extra-$(uname -r) \
              gperf gcc-multilib gcc-10-multilib g++-multilib g++-10-multilib \
              libc6-dev lib32ncurses-dev x11proto-core-dev libx11-dev tree lib32z-dev libgl1-mesa-dev libxml2-utils \
              xsltproc bc ccache lib32readline-dev lib32z1-dev liblz4-tool libncurses-dev libsdl1.2-dev \
              build-essential libgtk-3-dev libglu1-mesa-dev freeglut3-dev git libxml2 lzop pngcrush schedtool squashfs-tools \
              imagemagick libbz2-dev lzma ncftp qemu-user-static libstdc++-10-dev libncurses6 python3 python-is-python3 tar

      - name: Install OpenJDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Install repo
        run: |
          mkdir ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: Initialize repo
        run: |
          mkdir workspace
          cd workspace
          echo "workspace-folder=$(pwd)" >> $GITHUB_OUTPUT
          git config --global user.name "Nico170420"
          git config --global user.email "b170420nc@gmail.com"
          repo init --depth=1 -u ${{ github.event.inputs.MANIFEST_URL }} -b ${{ github.event.inputs.MANIFEST_BRANCH }}
        id: pwd

      - name: Repo Sync
        run: |
          repo sync -j$(nproc --all) --force-sync
        working-directory: workspace

      - name: Clone device tree
        run: |
          git clone ${{ github.event.inputs.DEVICE_TREE_URL }} -b ${{ github.event.inputs.DEVICE_TREE_BRANCH }} ./${{ github.event.inputs.DEVICE_PATH }}
        working-directory: workspace

      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 12

      - name: Building recovery
        run: | 
          source build/envsetup.sh
          export ALLOW_MISSING_DEPENDENCIES=true
          lunch ${{ github.event.inputs.MAKEFILE_NAME }}-eng
          
          # FORCE DELETE THE TROUBLESOME DIRECTORIES
          # We do this twice: once at the start and once as a retry if it fails
          rm -rf out/target/product/${{ github.event.inputs.DEVICE_NAME }}/root/etc
          rm -rf out/target/product/${{ github.event.inputs.DEVICE_NAME }}/recovery/root/etc
          
          make ${{ github.event.inputs.BUILD_TARGET }}image -j$(nproc --all) || (rm -rf out/target/product/${{ github.event.inputs.DEVICE_NAME }}/recovery/root/etc && make ${{ github.event.inputs.BUILD_TARGET }}image -j$(nproc --all))
          
          cp out/target/product/${{ github.event.inputs.DEVICE_NAME }}/${{ github.event.inputs.BUILD_TARGET }}.img ../TWRP-Result.img
        working-directory: workspace

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TWRP-Image
          path: TWRP-Result.img
